Repository geotribu/qchat, pull requests merged in 2025-09, with the labels that each got.

#19 feature(qchat): use system username as default nickname
  qchat/toolbelt/preferences.py
Labels: enhancement

#20 add(docs): how to use env vars to override plugin's preferences
  docs/index.md
  docs/usage/configuration.md
Labels: documentation

#22 refactor(consistency): move and rename QField plugin installation URL to constants module
  qchat/constants.py
  qchat/plugin_main.py
Labels: enhancement, quality

#23 feature(message): display date tooltip on each message
  qchat/gui/qchat_tree_widget_items.py
Labels: enhancement, UI

#24 fix(nickname): make `getuser` compliant with qchat
  qchat/constants.py
  qchat/gui/dck_qchat.py
  qchat/gui/gui_commons.py
  qchat/toolbelt/preferences.py
Labels: UI
